body {
    background-color: #181D31;
    color: #c9c8c8;
    padding: 20px 50px 0px;
    overflow-x: hidden;
}


/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0px rgb(75, 74, 74);
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #F66B0E;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #8b3902;
}


.about_section>div>h1>span,
.about_me>div:first-child>div>span,
.experience_section>div>h1>span,
.project_content>.project_desc>p>a {
    color: #F66B0E;
}

header {
    max-width: 1200px;
    margin: 0px auto 70px;
}

.navbar {
    overflow: hidden;
}

header>nav {
    display: flex;
    justify-content: space-between;

}

.nav-items {
    display: flex;
}

.nav-items>ul>li>a:hover,
.navbar .icon :hover {
    color: #F66B0E;
    transition: 550ms;
}

nav {
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
    font-size: 15px;
}

.nav-items>ul {
    display: flex;
    list-style-type: none;
    -webkit-animation: moveFromTop .6s ease both;
    animation: moveFromTop .6s ease both;
}

.nav-items>ul>li>a>span {
    color: #F66B0E;
    font-size: 14px;
}

.nav-items>ul>li {
    margin: 0px 10px;
}

.nav-items>ul>li>a {
    text-decoration: none;
    padding: 10px;
    color: #c9c8c8;
}

.resume-button>a,
.container>a,
.contact_section>a {
    text-decoration: none;
    border: 1px solid #F66B0E;
    border-radius: 4px;
    color: #F66B0E;
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
}

.resume-button>a {
    position: relative;
    top: 16px;
    margin-left: 10px;
    padding: 10px;
}

.navbar .icon {
    display: none;
    color: #f2f2f2;
    font-size: 26px;
    margin: 6px;
}

.container {
    padding: 10px 300px 0px 50px;
}

.container>a,
.contact_section>a {
    padding: 15px;
}

.resume-button>a:hover,
.container>a:hover,
.contact_section>a:hover {
    background: rgba(246, 107, 14, 0.13);
    transition: 500ms;
}

.container>p,
.contact_section>p:first-child {
    color: #f66b0e;
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
}

.container>h1,
h2,
.contact_section>h1 {
    font-size: clamp(40px, 8vw, 80px);
    color: #ccd6f6;
    margin: 0;
    font-family: "Calibre", "Inter", "San Francisco", "SF Pro Text", system-ui, sans-serif;
}

.container>h2 {
    color: #8892b0;
}

.container>p:last-of-type {
    max-width: 540px;
    font-size: 17px;
    line-height: 1.5;
    color: #8892b0;
    font-family: "Calibre", "Inter", "San Francisco", "SF Pro Text", system-ui, sans-serif;
    margin: 30px 0px 70px;
}

/* about section */

.about_me {
    display: flex;
}

.about_section {
    max-width: 1000px;
    margin: 0px auto 60px;
    padding-top: 80px;
}

.experience_section{
    margin-top: 100px;
    margin-bottom: 80px;
}

.about_section>div>h1>span,
.experience_section>div>h1>span {
    padding-right: 20px;
    font-size: 20px;
}

.about_section>div:first-child,
.experience_section>div:first-child {
    font-family: "Calibre", "Inter", "San Francisco", "SF Pro Text", system-ui, sans-serif;
    display: inline;
    padding: 30px 0px;
}

.about_section>div>h1>hr,
.experience_section>div>h1>hr {
    display: inline;
    width: 100px;

}

.about_section>div>h1,
.experience_section>div>h1 {
    font-size: 30px;
    color: #ccd6f6;
    padding-bottom: 30px;
}

.about_me>div:first-child {
    padding-right: 70px;
    font-family: "Calibre", "Inter", "San Francisco", "SF Pro Text", system-ui, sans-serif;
    font-size: 17px;
    color: #8892b0;
}

.about_me>div:first-child>div:last-child>ul {
    display: grid;
    grid-template-columns: repeat(2, minmax(140px, 200px));
    gap: 0px 10px;
    margin-top: 20px;
    overflow: hidden;
    list-style: none;
}

.about_me>div:first-child>div:last-child>ul>li::before {
    content: "▹";
    color: #F66B0E;
    padding-right: 10px;
}

.about_me>div:last-child {
    width: 1600px;
    height: 400px;
    background: linear-gradient(rgba(152, 158, 209, 0.1), rgba(63, 68, 145, 0.1)), url(/portfolio/images/pic_me.png);
    background-size: 300px 400px;
    background-repeat: no-repeat;
    border-radius: 2px;
}


/* Experience Section */

/* Chess Project */

.chess_project {
    position: relative;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s, transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

.project_content {
    grid-column: 7/-1;
    grid-area: 1 / 1 / -1 / 7;
}

.project_content>p:first-child {
    font-size: 15px;
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
    color: #F66B0E;
}

.project_content>h3 {
    font-size: 25px;
    color: #ccd6f6;
    font-family: "Calibre", "Inter", "San Francisco", "SF Pro Text", system-ui, sans-serif;
    margin: 0px 0px 20px;

}

.project_content>.project_desc {
    box-shadow: 0 10px 30px -15px rgba(2, 12, 27, 0.7);
    background-color: #112240;
    padding: 25px;
    position: relative;
    z-index: 2;
    border-radius: 4px;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    font-family: "Calibre", "Inter", "San Francisco", "SF Pro Text", system-ui, sans-serif;
    color: #a8b2d1;
    line-height: 1.5;
    font-size: 17px;
}

.project_content>.tech_list {
    list-style: none;
    display: flex;
    position: relative;
    z-index: 2;
    margin: 25px 0px 10px;
    padding: 0;
    font-size: 15px;
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
    color: #a8b2d1;
}

.project_content>.tech_list>li {
    padding-right: 25px;
}

.project_content>.project_desc>p>a, .about_me a, .desc>a {
    text-decoration: none;
    display: inline-block;
    position: relative;
    color: #f66b0e;
}



.project_content>.project_desc>p>a::after, .about_me a::after, .desc>a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #f66b0e;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.project_content>.project_desc>p>a:hover:after, .about_me a:hover:after, .desc>a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.project_content>div>a {
    font-size: 20px;
}


.project_image {
    grid-column: 1/8;
    grid-area: 1 / 6 / -1 / -1;
    position: relative;
    z-index: 1;

}

.project_image > img {
    border-radius: 3px;
}

.github-icon{
    font-size: 25px;
    color: #f2f2f2;
}

.github-icon:hover{
    color: #F66B0E;
}

/* Contact Section */

.contact_section {
    margin: 0px auto 50px;
    text-align: center;
    max-width: 600px;
    padding: 100px 0px;
}

.contact_section>p:first-child {
    font-size: 16px;
    font-weight: 530;
}

.contact_section>p:first-child>span {
    padding-right: 6px;
}

.contact_section>h1 {
    font-size: 50px;
}

.contact_section>.cont_desc {
    font-size: 17px;
    color: #8892b0;
    font-family: "Calibre", "Inter", "San Francisco", "SF Pro Text", system-ui, sans-serif;
    margin-bottom: 50px;
    line-height: 1.5;
}


/* Footer */

footer>p {
    text-align: center;
    font-size: 15px;
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
    color: #F66B0E;
    padding: 15px 0px;
}


/* Media Queries */

@media (max-width:900px) {

    .container>h1 {
        font-size: 60px;
    }

    .container> 
    h2 {
        font-size: 45px;
    }
}

@media screen and (max-width: 630px) {

    .navbar li>a,
    .resume-button {
        display: none;
    }

    .navbar a.icon {
        float: right;
        display: block;
    }

    .navbar.responsive {
        position: relative;
    }

    .navbar.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .navbar.responsive ul,
    .navbar.responsive,
    .navbar.responsive .nav-items,
    .navbar.responsive .nav-items>ul,
    .navbar.responsive .resume-button,
    .navbar.responsive li>a {
        float: none;
        display: block;
        text-align: left;
    }

    .navbar.responsive .resume-button {
        margin: 0px 0px 50px 52px;
    }

    .container {
        margin-top: 50px;
        padding: 15px 0px;
        border-top: 1px #F66B0E solid;
    }

    .container h1{
        padding-bottom: 30px
    }

    .about_me {
        flex-direction: column;
        text-align: center;
    }

    .about_me>div:last-child{
        order: 1;
        padding-bottom: 70px;
    }

    .about_me>div:first-child{
        padding-right: 0;
        order: 2;
        text-align:left;
    }

    .chess_project{
        display: block;
    }

    .project_image > img{
        max-width: 340px !important;
        height: 200px !important;
    }

    .about_me>div:last-child {
        width: 300px;
    }

    .contact_section > h1 {
        font-size: 35px;
    }
}


/* ------ divider ------ */

@import "compass/css3";

#wrap span {
    font-family: monospace;
    font-size: 2em;
}

#wrap span:after {
    content: ">";
    opacity: 0;
    animation: cursor 1s infinite;
}

@keyframes cursor {
    0% {
        opacity: 0;
    }

    40% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

#wrap {
    display: flex;
    justify-content: center;
}